<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/" method="post">
    <label>タスクの追加</label>
    <input required type="text" name="add" placeholder="何をする?"/>
    <input type="submit" value="追加"/>
  </form>
  <ul>
    <% for(let todo of todos){ %>
      <li><span><%= todo.content %></span></li>
    <% } %>
  </ul>
  </body>
</html>